// 宽度
$xs-width: 0;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$xl-width: 1920px;

// 字体大小
$xsmall-font-size: 12px;
$small-font-size: 13px;
$base-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;

// 字体颜色
$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #A8ABB2;
$disabled-text: #C0C4CC;

// 边框颜色
$darker-border: #CDD0D6;
$dark-border: #D4D7DE;
$base-border: #DCDFE6;
$light-border: #E4E7ED;
$lighter-border: #EBEEF5;

// 填充颜色
$brand-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;
